{% extends "base.html" %}
{% block body %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Once upon a time...</h1>
        <p class="lead">An app for storywriting.</p>
        <hr class="my-4"/>
    <p>I wanted to write a book. Not the kind of novel that lasts for generations, just a book about some of the things
        I've experienced in my life.</p>
    <p>Until you try to write something, you don't realise how hard this is. So after a lifetime already spent
        procrastinating, and building up really a lot of skill in the area, I decided to write an app for storywriting
        instead</p>
    <p>It's still very much a work in progress, but I'm becoming happy with it. </p>
    <p>So please, if you want a way to write your story, sign up and get started! All feedback is welcome.
        Read the terms and conditions before you get going.</p>
{#        <p><a class="btn btn-primary btn-lg" href="https://github.com/gabrielssilva/flasktasks">Source code</a></p>#}
    </div>
</div>

{% endblock %}
