{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Register or log in</h1>
    </div>


<div class="row">
    <div class="col-12">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="true">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="false">Log In</a>
          </li>
        </ul>
        <br/>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="signup-tab">
            <form action="{{ url_for('signup') }}" class=".form-horizontal" method="POST">
                <div class="form-group">
                    {{ form.username.label }}: {{ form.username }}<br>
                </div>
                <div class="form-group">
                    {{ form.password.label }}: {{ form.password }}<br>
                </div>
                <div class="form-group">
                    {{ form.repeatpassword.label }}: {{ form.repeatpassword }}<br>
                </div>
                {{ form.csrf_token }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form></div>
          <div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="signin-tab">
            <form action="{{ url_for('signin') }}" class=".form-horizontal" method="POST">
                <div class="form-group">
                {{ form2.username.label }}: {{ form2.username }}<br>
                </div>
                <div class="form-group">
                {{ form2.password.label }}: {{ form2.password }}<br>
                </div>
                {{ form2.csrf_token }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{{ url_for('reset')}}">Forgot your password?</a>
            </form></div>
        </div>

    </div>
</div>









</div>
{% endblock %}