{% extends "base.html" %}
{% block additionalscripts %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    #sortable-hor > div { float: left; }
  </style>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $( function() {
        <!--$( "#sortable" ).sortable();-->
        <!--$( "#sortable" ).disableSelection();-->
        var $sortables =$( "#sortable-hor" ).sortable();
        $( "#sortable-hor" ).disableSelection();
      } );
  </script>


{% endblock %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>{{book.title}}<small class="float-right">
            All Chapters
        </small></h1>
    </div>


    <p>{{book.synopsis|safe}}</p>

        <a href="{{ url_for('new_chapter') }}" class="btn btn-link new-item">
            <span class="glyphicon glyphicon-plus"></span>New Chapter
        </a>

        <div class="row kanban">
            <div class="col-lg-12">
                {% with title="Timeline", icon="leaf" %}
                    {% include "book/kanban_chapter.html" %}
                {% endwith %}
            </div>
        </div>




</div>
{% endblock %}
