{% extends "base.html" %}

{% block additionalscripts %}
    <!-- wysihtml5 parser rules -->
    <script src="{{ url_for('static',filename='wysihtml5/parser_rules/advanced.js') }}"></script>
    <!-- Library -->
    <script src="{{ url_for('static',filename='wysihtml5/dist/wysihtml5-0.3.0.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Edit</h1>
    </div>

    <div class="row">

        <div class="col">
            <form method="POST">
                <div class="form-group">
                    <input name="title" type="text" value="{{ book.title }}" class="form-control" placeholder="Title" required>
                </div>


                <div id="wysihtml5-toolbar" style="display: none;">
                    <a data-wysihtml5-command="bold" class="btn btn-info"><strong>B</strong></a>
                    <a data-wysihtml5-command="italic" class="btn btn-info"><i>I</i></a>

                </div>
                <div class="form-group">
                    <textarea name="synopsis" class="form-control" rows="3" placeholder="Describe at will" id="wysihtml5-textarea" autofocus>{{ book.synopsis }}</textarea>
                </div>





                <button type="submit" class="btn btn-primary">Save!</button>
            </form>

        </div>
    </div>

</div>


<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set
});
</script>
{% endblock %}
