{% extends "base.html" %}

{% block additionalscripts %}
    <!-- wysihtml5 parser rules -->
    <script src="{{ url_for('static',filename='wysihtml5/parser_rules/advanced.js') }}"></script>
    <!-- Library -->
    <script src="{{ url_for('static',filename='wysihtml5/dist/wysihtml5-0.3.0.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header ">
        <h1>
            {{chapter.title}}<small class="float-right">All Events</small>
        </h1>
        <a href="{{ url_for('edit_chapter', chapter_id=chapter.id) }}" class="btn btn-link new-item">
            <span class="glyphicon glyphicon-pencil"></span>Edit
        </a>
    </div>

    <p>{{chapter.synopsis|safe}}</p>
    <a href="{{ url_for('new_event') }}" class="btn btn-link new-item">
        <span class="glyphicon glyphicon-plus"></span>New Event
    </a>



        <div class="row kanban">
            <div class="col">
                {% with title="Timeline", icon="leaf" %}
                    {% include "chapter/kanban_chapter.html" %}
                {% endwith %}
            </div>
        </div>






    <h2>Event List</h2>
    <div class="list-group">
    {% for event in chapter.events|sort(attribute='event_occurs_percent') %}
        <a href="{{ url_for('event', event_id=chapter.id) }}" class="list-group-item {{ event.style() }}">
            <div class="row">
                <div class="col-sm-11">
                    <h4 class="list-group-item-header">{{ event.title }}</h4>
                    <p class="list-group-item-text">{{ chapter.description|safe }}</p>
                    <div class="chapter-item-additional-content">
                        {{ event | html_dispatch("event_list_item_additional_content") }}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
</div>


<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set
});
</script>

{% endblock %}
