{% extends "base.html" %}

{% block additionalscripts %}
    <!-- wysihtml5 parser rules -->
    <script src="{{ url_for('static',filename='wysihtml5/parser_rules/advanced.js') }}"></script>
    <!-- Library -->
    <script src="{{ url_for('static',filename='wysihtml5/dist/wysihtml5-0.3.0.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header form-group">
        <h1>
            Edit
        </h1>
    </div>

    <div class="row">

        <div class="col">

            <form method="POST">

                <div class="form-group">
                    <select class="form-control" name="book_id">
                        <option value="-1">Select a Book</option>
                        {% for book in books %}
                            <option value="{{ book.id }}" {% if book.id==chapter.book_id %}selected="true"{% endif %} {{ book.id | is_selected }}>{{ book.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input name="title" type="text" value="{{ chapter.title }}" class="form-control" placeholder="Title" required/>
                </div>

                <div id="wysihtml5-toolbar" style="display: none;">
                    <a data-wysihtml5-command="bold" class="btn btn-info"><strong>B</strong></a>
                    <a data-wysihtml5-command="italic" class="btn btn-info"><i>I</i></a>

                    <!--&lt;!&ndash; Some wysihtml5 commands require extra parameters &ndash;&gt;-->
                    <!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>-->
                    <!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>-->
                    <!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>-->

                    <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
                    <!--<a data-wysihtml5-command="createLink" class="btn btn-info">html</a>-->
                    <!--<div data-wysihtml5-dialog="createLink" style="display: none;">-->
                        <!--<label>-->
                            <!--Link:-->
                            <!--<input data-wysihtml5-dialog-field="href" value="http://" class="text">-->
                        <!--</label>-->
                        <!--<a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <textarea name="synopsis" class="form-control" rows="3" placeholder="Describe at will" id="wysihtml5-textarea" autofocus>{{ chapter.synopsis }}</textarea>
                </div>




                <button type="submit" class="btn btn-primary">Save!</button>



            </form>


        </div>
    </div>
</div>


<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set
});
</script>

{% endblock %}
