{% extends "base.html" %}

{% block additionalscripts %}
    <!-- wysihtml5 parser rules -->
    <script src="{{ url_for('static',filename='wysihtml5/parser_rules/advanced.js') }}"></script>
    <!-- Library -->
    <script src="{{ url_for('static',filename='wysihtml5/dist/wysihtml5-0.3.0.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>{{ event.title }}</h1>
        <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-link new-item">
            <span class="glyphicon glyphicon-pencil"></span>Edit
        </a>
    </div>

    <div class="row">
        <div class="col-sm-9">

        <p>{{event.description|safe}}</p>


        </div>
        <div class="col-sm-3 event-control">
{#            <p>Assign event:</p>#}
{#            <div class="btn-group btn-group-justified" role="group">#}
{#                {% for c in castmembers %}#}
{#                    <a href="{{ url_for('set_castmember', event_id=event.id, cast_id=c.id) }}" class="btn btn-{{ loop.index0 % 6  }}">{{ c.initials }}</a>#}
{#                {% endfor %}#}
{#            </div>#}
{#            <div class="btn-group btn-group-justified" role="group">#}
{#                <a href="{{ url_for('set_castmember', event_id=event.id, cast_id=-1) }}" class="btn btn-link">#}
{#                    <span class="glyphicon glyphicon-trash"></span>#}
{#                    Unassign</a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-sm-3 task-control">#}
            <p>Set Status:</p>
            <div class="btn-group btn-group-justified" role="group">
                <a href="{{ url_for('set_status', event_id=event.id, status='to_do') }}" class="btn btn-warning">To do</a>
                <a href="{{ url_for('set_status', event_id=event.id, status='doing') }}" class="btn btn-primary">Doing</a>
                <a href="{{ url_for('set_status', event_id=event.id, status='done') }}" class="btn btn-success">Done</a>
            </div>
            <div class="btn-group btn-group-justified" role="group">
                <a href="{{ url_for('delete_event', event_id=event.id) }}" id="delete-event" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span>Remove</a>
            </div>
        </div>
    </div>
</div>


<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set
});
</script>

{% endblock %}
