{% extends "base.html" %}
{% block additionalscripts %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    #sortable-hor > div { float: left; }
  </style>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $( function() {
        <!--$( "#sortable" ).sortable();-->
        <!--$( "#sortable" ).disableSelection();-->
        var $sortables =$( "#sortable-hor" ).sortable();
        $( "#sortable-hor" ).disableSelection();
      } );
  </script>


{% endblock %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Events<small class="float-right">
            {% if storyline %}Storyline: {{ storyline.title }}
            {% elif castmember %}Character: {{ castmember.name }}
            {% else %}All Tasks
            {% endif %}
        </small></h1>
    </div>


    {% if storyline %}
        <div class="well well-lg">
            <h4>{{ storyline.title }}, <small>{{ storyline.description }}</small></h4>
            <div class="btn-group event-control" role="group">
                <a href="{{ url_for('new_event', storyline_id=storyline.id) }}" class="btn btn-link new-item"><span class="glyphicon glyphicon-plus"></span>New Event</a>
                <a href="{{ url_for('delete_storyline', storyline_id=storyline.id) }}" id="delete-storyline" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span>Remove</a>
            </div>
        </div>
    {% elif castmember %}


        <div class="{{ castmember.bgcol() }} well well-lg" >
            <h4>{{ castmember.name }}</h4>
            <div class="btn-group event-control" role="group">
                <a href="{{ url_for('new_event', castmember_id=castmember.id) }}" class="btn btn-link new-item"><span class="glyphicon glyphicon-plus"></span>New Event</a>
{#                <a href="{{ url_for('delete_castmember', castmember_id=castmember.id) }}" id="delete-castmember" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span>Remove</a>#}
            </div>
        </div>
        <div class="row kanban">
            <div class="col-lg-12">
                {% with title="Timeline", icon="leaf" %}
                    {% include "event/kanban_timeline.html" %}
                {% endwith %}
            </div>
        </div>

    {% elif book %}

        <div class="well well-lg" >
            <h4>{{ book.title }}, <small>{{ book.synopsis }}</h4>
            <div class="btn-group event-control" role="group">
                <a href="{{ url_for('new_event', book_id=book.id) }}" class="btn btn-link new-item"><span class="glyphicon glyphicon-plus"></span>New Event</a>
<!--{#                <a href="{{ url_for('delete_book', book_id=book.id) }}" id="book-castmember" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span>Remove</a>#}-->
            </div>
        </div>
        <div class="row kanban">
            <div class="col-lg-12">
                {% with title="Timeline", icon="leaf" %}
                    {% include "book/kanban_timeline.html" %}
                {% endwith %}
            </div>
        </div>
    {% else %}
        <a href="{{ url_for('new_event') }}" class="btn btn-link new-item">
            <span class="glyphicon glyphicon-plus"></span>New Event
        </a>
    {% endif %}

    <div class="row kanban">
        <div class="col-sm-4">
            {% with title="To Do", status="TO_DO", icon="fire" %}
                {% include "event/kanban_panel.html" %}
            {% endwith %}
        </div>
        <div class="col-sm-4">
            {% with title="Doing", status="DOING", icon="send" %}
                {% include "event/kanban_panel.html" %}
            {% endwith %}
        </div>
        <div class="col-sm-4">
            {% with title="Done", status="DONE", icon="sunglasses" %}
                {% include "event/kanban_panel.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
